<!--- Example blatantly ripped off from http://www.launchd.info/ -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.node.agent</string>
        <key>Program</key>
        <string>/tmp/thing</string>
        <key>StandardOutPath</key><string>/tmp/com.node.agent.log</string>
        <key>StandardErrorPath</key><string>/tmp/com.node.agent.err.log</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
    <true/>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>ThrottleInterval</key>
    <integer>60</integer>
    </dict>
</plist>